/* Background Image */
.background-image {
  background-image: url("../images/sky-background-default.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Fonts */
body {
  font-family: sans-serif;
}

.text-decoration-none {
  text-decoration: none;
}

.white-font {
  color: white;
}

.red-font {
  color: red;
}

.text-shadow {
  text-shadow: 0 3px 2px black;
}

.text-shadow-none {
  text-shadow: none;
}

.italics {
  font-style: italic;
}

.font-size-2rem {
  font-size: 2rem;
}

/* Modals */
.data-modal {
  margin: auto;
  padding: 30px;
  background-color: rgb(200, 200, 200, 0.3);
  text-align: center;
  width: 90vw;
  border: 1px hidden;
  border-radius: 5px;
  position: relative;
  top: 100px;
  min-height: 380px;
}

.data-search-question {
  margin: 15px;
}

.search-area {
  padding: 20px;
  margin: 50px auto;
}

.search-bar {
  border: 1px white solid;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  height: 2rem;
  outline-color: white;
  font-size: 1.5rem;
  width: 70%;
}

.search-bar::placeholder {
  font-style: italic;
}

.submit-search {
  font-style: italic;
  border: 1px hidden;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  font-size: 1.2rem;
}

.submit-search:active {
  transform: translateY(1px);
}

/* Weather Choices Modal */
.unordered-list-no-bullets {
  list-style-type: none;
}

.list-choice-no-shadow {
  text-shadow: none;
}

.list-choice-3rem-line-height {
  line-height: 3rem;
}

.weather-information-list-choice:hover {
  cursor: default;
}

.weather-information-list-choice:active {
  transform: translateY(1px);
}

.weather-information-list-choice > i {
  font-size: 0.7rem;
  margin-right: 15px;
}

.submit-choices {
  font-style: italic;
  border: 1px hidden;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  font-size: 1.2rem;
}

.submit-choices:active {
  transform: translateY(1px);
}

/* Tools */
.text-left-align {
  text-align: left;
}

.hidden {
  display: none;
}

.set-margins {
  margin-top: 10;
  margin-bottom: 30px;
}

.top-bottom-margins-none {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .search-bar {
    width: 30%;
  }

  .text-one-half-rem {
    font-size: 1.5rem;
  }

  .weather-information-list-choice > i {
    font-size: 1.2rem;
  }
}
