/* Background Image */
.background-image-dimensions {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-image-sunny {
  background-image: url("../images/sky-background-default.jpg");
}

.background-image-night {
  background-image: url("../images/night-time-in-city.jpg");
}

.background-image-rainy {
  background-image: url("../images/rain-wallpaper.jpg");
}

/* Fonts */
body {
  font-family: sans-serif;
}

.text-decoration-none {
  text-decoration: none;
}

.white-font {
  color: white;
}

.red-font {
  color: red;
}

.text-shadow {
  text-shadow: 0 3px 2px black;
}

.text-shadow-small {
  text-shadow: 0 2px 3px black;
}

.text-shadow-none {
  text-shadow: none;
}

.italics {
  font-style: italic;
}

.font-size-2rem {
  font-size: 2rem;
}

/* Header Menu */
.hamburger-menu-icon {
  color: rgba(182, 182, 182);
  font-size: 2rem;
}

.header-banner-dimensions {
  height: 3rem;
}

.header-banner-active-background {
  background-color: seashell;
}

/* Modals */
.data-modal {
  margin: auto;
  padding: 30px;
  background-color: rgba(182, 182, 182, 0.2);
  text-align: center;
  width: 90vw;
  border: 1px hidden;
  border-radius: 5px;
  position: relative;
  top: 100px;
  min-height: 380px;
}

.data-search-question {
  margin: 15px;
}

.search-area {
  padding: 20px;
  margin: 50px auto;
}

.search-bar {
  border: 1px white solid;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
  height: 2rem;
  outline-color: white;
  font-size: 1.5rem;
  width: 70%;
}

.search-bar::placeholder {
  font-style: italic;
}

.submit-search {
  font-style: italic;
  font-size: 1.2rem;
}

/* Weather Choices Modal */
.unordered-list-no-bullets {
  list-style-type: none;
}

.list-choice-3rem-line-height {
  line-height: 3rem;
}

.weather-information-list-choice:hover {
  cursor: default;
}

.weather-information-list-choice:active {
  transform: translateY(1px);
}

.weather-information-list-choice > i {
  font-size: 0.7rem;
  margin-right: 15px;
}

.submit-choices {
  font-style: italic;
  font-size: 1.2rem;
}

/* Main Display */
.time-and-location > h1 {
  font-size: 1.6rem;
  margin: 5px auto;
}

/* Flexbox */
.align-items-center {
  display: flex;
  align-items: center;
}

.justify-content-end {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.flex-basis-15 {
  flex-basis: 15%;
}

.felx-basis-85 {
  flex-basis: 85%;
}

/* Tools */
.text-left-align {
  text-align: left;
}

.mobile-center-to-left {
  text-align: center;
}

.hidden {
  display: none;
}

.set-margins {
  margin-top: 10;
  margin-bottom: 30px;
}

.top-bottom-margins-none {
  margin: 0 auto;
}

.right-shift-10px {
  position: relative;
  right: 10px;
}

.default-button {
  border: 1px hidden;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
}

.default-button:active {
  transform: translateY(1px);
}

@media screen and (min-width: 768px) {
  .search-bar {
    width: 30%;
  }

  .text-one-half-rem {
    font-size: 1.5rem;
  }

  .weather-information-list-choice > i {
    font-size: 1.2rem;
  }

  .time-and-location > h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 376px) {
  .mobile-center-to-left {
    text-align: left;
  }

  .time-and-location > h1 {
    position: relative;
    left: 30px;
  }
}
